################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/extern/glad/CMakeFiles
/extern/glad/PACKAGE.vcxproj.filters
/extern/glad/PACKAGE.vcxproj
/extern/glad/Makefile
/extern/glad/INSTALL.vcxproj.filters
/extern/glad/INSTALL.vcxproj
/extern/glad/glad.vcxproj.filters
/extern/glad/glad.vcxproj
/extern/glad/Glad.sln
/extern/glad/glad.lib
/extern/glad/Glad.cbp
/extern/glad/cmake_install.cmake
/extern/glad/CMakeLists.txt
/extern/glad/ALL_BUILD.vcxproj.filters
/extern/glad/ALL_BUILD.vcxproj
/extern/freetype-2.10.0/CMakeFiles
/extern/freetype-2.10.0/builds
/extern/freetype-2.10.0/freetyped.lib
/extern/freetype-2.10.0/freetype.lib
/extern/freetype-2.10.0/docs
/extern/SDL2-2.0.12/acinclude
/extern/SDL2-2.0.12/android-project
/extern/SDL2-2.0.12/build-scripts
/extern/SDL2-2.0.12/debian
/extern/SDL2-2.0.12/docs
/extern/SDL2-2.0.12/test
/extern/SDL2-2.0.12/Xcode-iOS
/extern/SDL2-2.0.12/Xcode
/extern/SDL2-2.0.12/wayland-protocols
/extern/SDL2-2.0.12/VisualC-WinRT
/extern/SDL2-2.0.12/VisualC
/build/.vs
/build/CMakeFiles
/build/engine/kairos_engine.dir/Debug
/build/extern/fmt/fmt.dir
/build/extern/glad/glad.dir
/build/extern/SDL2-2.0.12/SDL2-static.dir
/build/extern/SDL2-2.0.12/SDL2main.dir
/build/extern/SDL2-2.0.12/x64
/build/source/game.dir
/build/include
/build/source/processes.txt
/build/x64/Debug
/build/CMakeCache.txt
/build/tests/x64/Debug/tests.tlog
/build/tests/x64/Debug
/extern/glad
/build/extern/fmt/.vs/FMT/v16
/build/extern/fmt/x64/Debug/ALL_BUILD
/build/extern/fmt/PACKAGE.vcxproj.filters
/build/extern/fmt/PACKAGE.vcxproj
/build/extern/fmt/INSTALL.vcxproj.filters
/build/extern/fmt/INSTALL.vcxproj
/build/extern/fmt/fmt.vcxproj.user
/build/extern/fmt/fmt.vcxproj.filters
/build/extern/fmt/fmt.vcxproj
/build/extern/fmt/FMT.sln
/build/extern/fmt/cmake_install.cmake
/build/extern/fmt/CMakeFiles/generate.stamp.depend
/build/extern/fmt/CMakeFiles/generate.stamp
/build/extern/fmt/CMakeFiles
/build/extern/fmt/ALL_BUILD.vcxproj.filters
/build/extern/fmt/ALL_BUILD.vcxproj
/build/extern/glad/PACKAGE.vcxproj.filters
/build/extern/glad/PACKAGE.vcxproj
/build/extern/glad/INSTALL.vcxproj.filters
/build/extern/glad/INSTALL.vcxproj
/build/extern/glad/glad.vcxproj.user
/build/extern/glad/glad.vcxproj.filters
/build/extern/glad/glad.vcxproj
/build/extern/glad/Glad.sln
/build/extern/glad/cmake_install.cmake
/build/extern/glad/CMakeFiles/generate.stamp.depend
/build/extern/glad/CMakeFiles/generate.stamp
/build/extern/glad/CMakeFiles
/build/extern/glad/ALL_BUILD.vcxproj.filters
/build/extern/glad/ALL_BUILD.vcxproj
/build/extern/glm/CMakeFiles/generate.stamp.depend
/build/extern/glm/CMakeFiles/generate.stamp
/build/extern/glm/CMakeFiles
/build/extern/glm/PACKAGE.vcxproj.filters
/build/extern/glm/PACKAGE.vcxproj
/build/extern/glm/INSTALL.vcxproj.filters
/build/extern/glm/INSTALL.vcxproj
/build/extern/glm/glm.sln
/build/extern/glm/glm/PACKAGE.vcxproj.filters
/build/extern/glm/glm/PACKAGE.vcxproj
/build/extern/glm/glm/INSTALL.vcxproj.filters
/build/extern/glm/glm/INSTALL.vcxproj
/build/extern/glm/glm/CTestTestfile.cmake
/build/extern/glm/glm/cmake_install.cmake
/build/extern/glm/glm/CMakeFiles/generate.stamp.depend
/build/extern/glm/glm/CMakeFiles/generate.stamp
/build/extern/glm/glm/CMakeFiles
/build/extern/glm/CTestTestfile.cmake
/build/extern/glm/cmake_install.cmake
/build/extern/glm/ALL_BUILD.vcxproj.filters
/build/extern/glm/ALL_BUILD.vcxproj
/build/extern/json/PACKAGE.vcxproj.filters
/build/extern/json/PACKAGE.vcxproj
/build/extern/json/nlohmann_jsonTargets.cmake
/build/extern/json/nlohmann_jsonConfigVersion.cmake
/build/extern/json/nlohmann_jsonConfig.cmake
/build/extern/json/nlohmann_json.sln
/build/extern/json/nlohmann_json.pc
/build/extern/json/INSTALL.vcxproj.filters
/build/extern/json/INSTALL.vcxproj
/build/extern/json/DartConfiguration.tcl
/build/extern/json/cmake_install.cmake
/build/extern/json/CMakeFiles/generate.stamp.depend
/build/extern/json/CMakeFiles/generate.stamp
/build/extern/json/CMakeFiles/Export/lib/cmake/nlohmann_json/nlohmann_jsonTargets.cmake
/build/extern/json/CMakeFiles/Export/lib/cmake/nlohmann_json
/build/extern/json/CMakeFiles
/build/extern/json/ALL_BUILD.vcxproj.filters
/build/extern/json/ALL_BUILD.vcxproj
/build/extern/SDL2-2.0.12/.vs/SDL2/v16
/build/extern/nameof/nameofConfigVersion.cmake
/build/extern/SDL2-2.0.12/CMakeFiles/generate.stamp.depend
/build/extern/SDL2-2.0.12/CMakeFiles/generate.stamp
/build/extern/SDL2-2.0.12/CMakeFiles/Export/cmake/SDL2Targets.cmake
/build/extern/SDL2-2.0.12/CMakeFiles/Export/cmake/SDL2Targets-relwithdebinfo.cmake
/build/extern/SDL2-2.0.12/CMakeFiles/Export/cmake/SDL2Targets-release.cmake
/build/extern/SDL2-2.0.12/CMakeFiles/Export/cmake/SDL2Targets-minsizerel.cmake
/build/extern/SDL2-2.0.12/CMakeFiles/Export/cmake/SDL2Targets-debug.cmake
/build/extern/SDL2-2.0.12/CMakeFiles/Export/cmake
/build/extern/SDL2-2.0.12/CMakeFiles
/build/extern/SDL2-2.0.12/uninstall.vcxproj.filters
/build/extern/SDL2-2.0.12/uninstall.vcxproj
/build/extern/SDL2-2.0.12/SDL2main.vcxproj.filters
/build/extern/SDL2-2.0.12/SDL2main.vcxproj
/build/extern/SDL2-2.0.12/SDL2.sln
/build/extern/SDL2-2.0.12/SDL2-static.vcxproj.user
/build/extern/SDL2-2.0.12/SDL2-static.vcxproj.filters
/build/extern/SDL2-2.0.12/SDL2-static.vcxproj
/build/extern/SDL2-2.0.12/PACKAGE.vcxproj.filters
/build/extern/SDL2-2.0.12/PACKAGE.vcxproj
/build/extern/SDL2-2.0.12/INSTALL.vcxproj.filters
/build/extern/SDL2-2.0.12/INSTALL.vcxproj
/build/extern/SDL2-2.0.12/cmake_uninstall.cmake
/build/extern/SDL2-2.0.12/cmake_install.cmake
/build/extern/SDL2-2.0.12/ALL_BUILD.vcxproj.filters
/build/extern/SDL2-2.0.12/ALL_BUILD.vcxproj
